<!DOCTYPE html>
<html>
 <head lang="ja">
    <meta charset="UTF-8">
    <title></title>
 </head>
 <body>
  <p>Hello world! Welcome test page</p>
    <p>It's {{timestamp}}.</p>
    <p>This page is for "{{project_name}}".</p>

 </body>
</html>
